.addModal {
  top: 31%;
  left: 33%;
  padding: 2rem 0;
  width: 100%;
  position: absolute;
  border-radius: 0.5rem;
  @media only screen and (max-width: 400px) {
    left: -1%;
    top: 10%;
  }
}
.product-add {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}
.product-names {
}
#product-add-btn {
  font-size: 0.7rem;
  padding: 0.1rem;
  &:not(:last-child) {
    margin-bottom: 0.4rem;
  }
}
.product-actions {
  display: flex;
  flex-direction: column;
}
