#jumbo {
  background-color: var(--color-white-primary);
  border: 1px solid rgba(#000, 0.2);
  padding: 1.8rem 2.6rem;
  border-radius: 0.5rem;
  @media only screen and (max-width: 630px) {
    padding: 1.3rem 2.3rem;
  }
  @media only screen and (max-width: 575px) {
    padding: 1.2rem 2.1rem;
  }
}
.items-heading {
  padding: 1rem 1rem;
  & > div {
    padding: 1rem 0.5rem;
  }
}
