.sidebar {
  width: 5rem;
  height: 89.5vh;
  border-right: 1px solid rgb(223, 218, 218);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  & > div {
    padding-right: 1.2rem;
    margin-left: 1.4rem;

    &:hover,
    &:link,
    &:visited {
      border-right: 1.5px solid var(--color-primary-light);
    }
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    color: rgba(31, 30, 30, 0.692);

    &:hover {
      color: var(--color-primary-light);
    }
  }
}
.itemlist {
  display: flex;
  flex-direction: column;
  &__items {
    margin: 0 auto 0.5rem auto;
    border-bottom: 1px solid var(--color-white-secondary);
    width: 100%;
    text-align: start;
    padding: 0.3rem 2.3rem;
    transition: all 0.4s ease;
  }
}
.link-to {
  color: #000;
  &:hover {
    color: var(--color-primary-light);
  }
}
