.tool .tooltip-inner {
  background-color: var(--color-white-primary);
  color: var(--color-dark-primary);
  box-shadow: 0 0.3rem 0.3rem rgba(#000, 0.2);
  border: 1px solid rgba(#000, 0.2);
}
.tool .tooltip-arrow {
  color: #fff;
}

.tool .tooltip.show {
  opacity: 1;
  margin-left: 1rem;
}
.bs-tooltip-auto[x-placement^="right"] span.arrow::before,
.bs-tooltip-right .arrow::before {
  border-right-color: rgb(218, 205, 205);
  border-right-width: 1.3rem;
}
