.tool .tooltip-inner {
  background-color: #fff;
  color: #000;
  box-shadow: 0 0.3rem 0.3rem rgba(#000, 0.3);
  border: 1px solid rgba(#000, 0.3);
}
.tool .tooltip-arrow {
  color: #fff;
}

.tool .tooltip.show {
  opacity: 1;
  margin-left: 2rem;
}
.bs-tooltip-auto[x-placement^="right"] span.arrow::before,
.bs-tooltip-right .arrow::before {
  border-right-color: rgb(119, 109, 109);
  border-right-width: 1.3rem;
}
.bs {
  padding-right: 1rem;
}
