#bt {
  margin-right: 0.4rem;
}

.addModal {
  position: absolute;
}
.category-heading {
  @media only screen and (max-width: 500px) {
    display: flex;
    flex-direction: column;
    & > div {
      margin-top: 1rem;
    }
  }
}
